<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>carexp.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://carexp.net:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>CareXP</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>TECHLINKVN\WDeployAdmin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Northwind" Order="1" Enabled="False">
          <Destination Path="Data Source=carexp.net,1433;Initial Catalog=CareXP_Moto;User ID=CareXPWebApp;Password=9b1664dc1a44702385c2c4a074250b91" Name="Data Source=carexp.net,1433; Initial Catalog=CareXP_Moto; User ID=CareXPWebApp;Password=9b1664dc1a44702385c2c4a074250b91;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSqlLocalDB;Initial Catalog=CareXP_Moto;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Northwind_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSqlLocalDB; Initial Catalog=CareXP_Moto; Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Default" Order="2" Enabled="False">
          <Destination Path="Data Source=carexp.net,1433;Initial Catalog=CareXP_Default;User ID=CareXPWebApp;Password=9b1664dc1a44702385c2c4a074250b91" Name="Data Source=carexp.net,1433; Initial Catalog=CareXP_Default; User ID=CareXPWebApp;Password=9b1664dc1a44702385c2c4a074250b91;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSqlLocalDB;Initial Catalog=CareXP_Default;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Default_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSqlLocalDB; Initial Catalog=CareXP_Default; Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Default-Web.config Connection String">
      <ParameterValue>Data Source=carexp.net,1433; Initial Catalog=CareXP_Default; User ID=CareXPWebApp;Password=9b1664dc1a44702385c2c4a074250b91;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Northwind-Web.config Connection String">
      <ParameterValue>Data Source=carexp.net,1433; Initial Catalog=CareXP_Moto; User ID=CareXPWebApp;Password=9b1664dc1a44702385c2c4a074250b91;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>