{
    "RootNamespace": "CareXP",
    "Connections": [
        {
            "Key": "CMS",
            "ConnectionString": "Data Source=carexp.net,1433; Initial Catalog=CareXP_CMS; User ID=CareXPWebApp;Password=9b1664dc1a44702385c2c4a074250b91;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Posts",
                    "Identifier": "Posts",
                    "Module": "CMS",
                    "ConnectionKey": "CMS",
                    "PermissionKey": "CMS:Post"
                },
                {
                    "Tablename": "dbo.Post2Recalls",
                    "Identifier": "Post2Recalls",
                    "Module": "CMS",
                    "ConnectionKey": "CMS",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Default",
            "ConnectionString": "Data Source=carexp.net,1433; Initial Catalog=CareXP_Default; User ID=CareXPWebApp;Password=9b1664dc1a44702385c2c4a074250b91;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Tenants",
                    "Identifier": "Tenant",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:Tenants"
                },
                {
                    "Tablename": "dbo.Users",
                    "Identifier": "User",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:Users"
                },
                {
                    "Tablename": "dbo.UserRoles",
                    "Identifier": "Role",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:UserRoles"
                },
                {
                    "Tablename": "dbo.UserPreferences",
                    "Identifier": "UserPreferences",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.UserPermissions",
                    "Identifier": "UserPermissions",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Roles",
                    "Identifier": "Role",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:Roles"
                },
                {
                    "Tablename": "dbo.RolePermissions",
                    "Identifier": "RolePermissions",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "EPC",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=CareXP_EPC; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.VehicleTypes",
                    "Identifier": "VehicleType",
                    "Module": "EPC",
                    "ConnectionKey": "EPC",
                    "PermissionKey": "EPC:VehicleType"
                },
                {
                    "Tablename": "dbo.Models",
                    "Identifier": "Model",
                    "Module": "EPC",
                    "ConnectionKey": "EPC",
                    "PermissionKey": "EPC:Model"
                },
                {
                    "Tablename": "dbo.PartGroups",
                    "Identifier": "PartGroup",
                    "Module": "EPC",
                    "ConnectionKey": "EPC",
                    "PermissionKey": "EPC:PartGroup"
                },
                {
                    "Tablename": "dbo.Versions",
                    "Identifier": "Version",
                    "Module": "EPC",
                    "ConnectionKey": "EPC",
                    "PermissionKey": "EPC:Version"
                },
                {
                    "Tablename": "dbo.Parts",
                    "Identifier": "Part",
                    "Module": "EPC",
                    "ConnectionKey": "EPC",
                    "PermissionKey": "EPC:Part"
                },
                {
                    "Tablename": "dbo.Part2Groups",
                    "Identifier": "Part2Groups",
                    "Module": "EPC",
                    "ConnectionKey": "EPC",
                    "PermissionKey": "EPC:PartGroup"
                }
            ]
        },
        {
            "Key": "Moto",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=CareXP_Moto; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Brandnames",
                    "Identifier": "Brandname",
                    "Module": "MotoAdministrator",
                    "ConnectionKey": "Moto",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Categories",
                    "Identifier": "Categorie",
                    "Module": "MotoAdministrator",
                    "ConnectionKey": "Moto",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.UOM",
                    "Identifier": "UOM",
                    "Module": "MotoAdministrator",
                    "ConnectionKey": "Moto",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.JOBS",
                    "Identifier": "JOB",
                    "Module": "MotoAdministrator",
                    "ConnectionKey": "Moto",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=carexp.net,1433; Initial Catalog=CareXP_Northwind; User ID=CareXPWebApp;Password=9b1664dc1a44702385c2c4a074250b91;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\CareXP\\CareXP.Web\\CareXP.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomTemplates": "",
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}